PeshoTheBeer/Files/CostsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="rootType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="bira" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="meze" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="fitnes"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:string" name="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>